/*font-family: "Inter", sans-serif;*/

/* font-family: "Merriweather", serif; */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
}
/* BAnner section starts Here */
.header-container {
  max-width: 1320px;
  min-height: 600px;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(./images/banner_image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-blend-mode: overlay;
  margin-bottom: 120px;
}
.header-content p,
h1 {
  color: white;
  text-align: center;
}
.header-content {
  width: 632px;
  height: 246px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-content h1 {
  font-size: 72px;
  line-height: 95px;
  font-weight: 900px;
}
.header-content p {
  font-size: 32px;
  font-weight: 400px;
}
/* 65% section starts here */

.sixty-five-container {
  display: flex;
  flex-direction: column;
  width: 802px;
  height: 806px;
  margin: 0 auto;
}
.first-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first-content h1 {
  font-family: "Inter", sans-serif;
  color: #ff0000;
  font-size: 88px;
  font-weight: 700px;
  /* margin-top: 120px; */
  margin-bottom: 48px;
}
.first-content p {
  font-family: "Inter", sans-serif;
  color: #ff0000;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 16px;
}

.first-content h3 {
  color: #070211;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
.image-container {
  height: 500px;
  width: 802px;
  margin-top: 48px;
}
.image-container img {
  height: 100%;
  width: 100%;
}
/* 65% section ends here */

/* mid night party starts here */
.midnight-party-container {
  width: 1320px;
  height: 600px;
  margin: 0 auto;
  border-radius: 16px;
  margin-top: 120px;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(./images/vectorrr.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-blend-mode: overlay;
  display: flex;
  margin-bottom: 120px;
}
.leftside-content {
  width: 823px;
  height: 600px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  text-align: center;
  /* padding: 20px; */
}
.rightside-content {
  width: 497px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.leftside-content h1 {
  color: ffffff;
  font-weight: 900;
  font-size: 64px;
  text-align: left;
  margin-top: 126px;
  margin-left: 126px;
}
.leftside-content p {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  margin-left: 126px;
  text-align: left;
  margin-top: 24px;
}
.join-button {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  /* margin-left: 10px; */
  margin-top: 48px;
  margin-right: 400px;
  /* margin-left: 126px; */
}
.rightside-content img {
  width: 319px;
  height: 464px;
}
/* mid night party starts here */

/* location starts here */
.location-container {
  max-width: 1320px;
  min-height: 482px;
  border: 2px solid red;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.location-content {
  max-width: 549px;
  min-height: 272px;
  border: 2px solid green;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.location-content p {
  font-size: 32px;
  font-weight: 600px;
  font-family: "Inter", sans-serif;
  color: #070211;
}
.location-content span {
  font-size: 32px;
  font-weight: 600px;
  font-family: "Inter", sans-serif;
  color: #ff0000;
}
/* location starts ends */
